@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --White : hsl(0, 0%, 100%);
  --light-pink : hsl(275, 100%, 97%);
  --Grayish-purple : hsl(292, 16%, 49%);
  --dark-purple : hsl(292, 42%, 14%);
}
* {
 
  font-family: 'Work Sans', sans-serif;
  
}
body {
  background: var(--light-pink);
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
p {
  font-size: 16px;
}
.top-container {
  background: url(/images/background-pattern-mobile.svg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat:no-repeat;
}
.faq-container {
  border: 1px solid var(--White);
  border-radius: 10px;

}
.faq-answers {
  transition: all 0.3s ease-in-out;
  display: none;
}
.main-faq {
  background: none;
}
.img-minus {
  display: none;
}
.img-minus.show-minus {
  display: block;
}
.faq-answers.show {
 display: block;
 
}
.img-plus.hide-plus {
  display: none;
}
